/******************* CSS Document ****************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

/******************* Typography ****************/

h1 {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
}

h2 {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
}

h3 {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

h4 {
  color: #4a494a;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}

p {
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 14px;
  line-height: 25px;
}

/******************* Buttons / Links ****************/

a {
  margin: 0;
  padding: 12px 20px 10px;
  border: 1px solid #4a494a;
  text-transform: uppercase;
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 12px;
  line-height: 17px;
  text-decoration: none;
  transition: .2s ease;
}

a:hover {
  background: #4a494a;
  color: #FFFFFF;
}

/******************* Forms ****************/

form label {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 600;
}

form input {
  outline: none;
  border: none;
  background: none !important;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  padding: 20px 0 10px;
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 16px;
}

form input::placeholder {
  color: #cfcfcf;
}

/******************* Header ****************/

header section {
  height: calc(100vh - 6em);
  background: url(../images/marcelo-douchebags-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header section:after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100vh - 6em);
  background: rgba(0, 0, 0, 0.200);
  top: 0;
  left: 0;
}

header section h1,h4 {
  color: white;
  z-index: 2;
  margin-bottom: 15px;
}

header section a {
  color: white;
  border-color: white;
  z-index: 2;
}

header nav {
  max-width: 1280px;
  margin: auto;
  height: 6em;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  max-width: 10em;
  height: auto;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li:first-of-type {
  margin-right: 10px;
}

/******************* Main ****************/

main {
  padding: 0 20px;
}

main section:nth-child(1) {
  background: url(../images/marcelo-douchebags-02.jpg);
  padding: 250px 20px;
}

main section:nth-child(2) {
  background: url(../images/douchebags-hugger.jpg);
  padding: 80px 20px;
}

main section:nth-child(3) {
  background: url(../images/douchebags-snow.jpg);
  padding: 80px 20px;
}

main section:nth-child(4) {
  background: url(../images/douchebags-field.jpg);
  padding: 250px 20px;
}

main section:nth-child(1),
main section:nth-child(2),
main section:nth-child(3),
main section:nth-child(4) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

main section:nth-child(1):after,
main section:nth-child(2):after,
main section:nth-child(3):after,
main section:nth-child(4):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  z-index: 1;
}

main section:nth-child(1) h2,h4,
main section:nth-child(2) h2,h4,
main section:nth-child(3) h2,h4,
main section:nth-child(4) h2,h4  {
  color: white;
  z-index: 2;
  margin-bottom: 25px;
  position: relative;
}

main section:nth-child(1) a ,
main section:nth-child(2) a ,
main section:nth-child(3) a ,
main section:nth-child(4) a  {
  color: white;
  border-color: white;
  z-index: 2;
  position: relative;
}

main section:nth-child(5) {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

main section:nth-child(5) h2,p {
  text-align: center;
}

main section:nth-child(5) article {
  max-width: 50%;
  text-align: center;
}

main section:nth-child(5) article img {
  max-width: 100%;
}

main section:nth-child(5) article h4 {
  color: #4a494a;
}




/******************* Footer ****************/

