/******************* CSS Document ****************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
  border: 0;
  /* outline: 0; */
}

a {
  cursor: pointer;
}

/******************* Typography ****************/

h1 {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
}

h2 {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 1.4em;
}

h3 {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 1.25em;
}

h4 {
  color: #4a494a;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.72em;
}

p {
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 0.9em;
  line-height: 1.6em;
}

/******************* Buttons / Links ****************/

a {
  margin: 0;
  padding: .9em 2em;
  border: 1px solid #4a494a;
  text-transform: uppercase;
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 0.75em;
  line-height: 1.5em;
  text-decoration: none;
  transition: .4s ease;
}

a:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
}

/******************* Forms ****************/

form label {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 0.8em;
  font-weight: 600;
}

form input {
  /* outline: none; */
  border: none;
  background: none !important;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  padding: 1em 0 0.6em;
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 0.9em;
}

form input::placeholder {
  color: #cfcfcf;
}

form select {
  /* outline: none; */
  border: none;
  background: none !important;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  padding: 0.5em 0 0.6em;
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 0.9em;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: 0;
}

/******************* Header ****************/

header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
}

header nav {
  max-width: 1280px;
  margin: auto;
  height: 5em;
  padding: 0 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .4s ease;
}

header nav > img:first-of-type {
  max-width: 10em;
  height: auto;
}

header nav ul:first-of-type {
  display: flex;
  list-style-type: none;
}

header nav ul a {
  border: none;
  background: none;
  padding: 0;
}

header nav ul a:hover {
  border: none;
  background: none;
  color: black;
}

header nav ul:first-of-type li:first-of-type {
  margin-right: 1.5em;
}

header nav ul button {
  background: none;
  cursor: pointer;
}

header nav ul button img {
  width: 1.8em;
  margin-top: .6em;
}

/* Desktop Nav */
header nav ul:last-of-type {
  display: none;
  list-style-type: none;
}

header nav ul:last-of-type li{
  margin-left: 2em;
}

header nav ul:last-of-type li:first-of-type{
  margin-left: 0;
}

header nav ul:last-of-type a {
  text-transform: none;
  font-weight: 500;
  font-size: .9em;
}

header nav > img:last-of-type {
  max-width: 1.5em;
  margin-left: 6em;
  display: none;
}

/* Mobile Nav Open */
header > section#mobile-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 2em;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  transform: translateX(150%);
  transition: .5s ease;
}

.active {
  transform: translateX(0) !important; 
}

#mobile-overlay div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

#mobile-overlay div:first-of-type > img {
  max-width: 10em;
}

#mobile-overlay div:first-of-type button {
  background: none;
  border: none;
  cursor: pointer;
  transition: .5s;
}

#mobile-overlay div:first-of-type button:hover {
  transform: rotate(90deg);
}

#mobile-overlay div:first-of-type button img {
  width: 2em;
}

#mobile-overlay ul:first-of-type {
  text-align: right;
}

#mobile-overlay ul:first-of-type li {
  list-style-type: none;
  margin-bottom: 2em;
}

#mobile-overlay ul:first-of-type li a {
  text-transform: none;
  font-size: 1.6em;
  padding: 0;
  border: none;
  background: none;
  transition: .4s;
  border-bottom: 2px solid transparent;
}

#mobile-overlay ul:first-of-type li a:hover {
  color: black;
  border-bottom: 2px solid black;
}

#mobile-overlay div:last-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

#mobile-overlay div:last-of-type a {
  padding: 1.2em 2em;
  text-align: center;
  text-transform: none;
  border-color: #dddddd;
  font-size: 0.8em;
}

/****************** Top Section Homepage ****************/


body > section:first-of-type {
  height: calc(100vh - 6em);
  background: url(../images/marcelo-douchebags-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > section:first-of-type:after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100vh - 6em);
  background: rgba(0, 0, 0, 0.200);
  top: 0;
  left: 0;
}

body > section:first-of-type h1,h4 {
  color: white;
  z-index: 2;
  margin-bottom: .9em;
}

body > section:first-of-type a {
  color: white;
  border-color: white;
  z-index: 2;
}

/****************** Main Homepage ****************/

main.home {
  padding: 0 1.1em;
  max-width: 1280px;
  margin: auto;
}

main.home > div {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

main.home > div section:first-of-type {
  background: url(../images/marcelo-douchebags-02.jpg);
  background-position: center 20% !important;
}

main.home > div section:nth-of-type(2) {
  background: url(../images/douchebags-hugger.jpg);
}

main.home > div section:nth-of-type(3) {
  background: url(../images/douchebags-snow.jpg);
}

main.home > div section:nth-of-type(4) {
  background: url(../images/douchebags-field.jpg);
}

main.home > div section:nth-child(-n+4) {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center;
  text-align: center;
  position: relative;
  padding: 7em 1.1em;
}

main.home > div section:nth-child(-n+4):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  z-index: 1;
}

main.home > div section:nth-child(-n+4) h2 {
  color: white;
  z-index: 2;
  margin-bottom: 1.4em;
  position: relative;
}

main.home > div section:nth-child(-n+4) p {
  color: white;
  z-index: 2;
  margin-bottom: 15px;
  position: relative;
  text-transform: uppercase;
  font-size: 0.7em;
}

main.home > div section:nth-child(-n+4) a  {
  color: white;
  border-color: white;
  z-index: 2;
  position: relative;
}

/* Product Articles */

main.home > section:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  padding: 5em 0;
}

main.home > section:nth-of-type(1) h2 {
  text-align: center;
  position: relative;
  grid-column: 1 / -1;
}

main.home > section:nth-of-type(1) h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
  height: 2px;
  width: 40px;
  background: #dbdbdb;
} 

main.home > section:nth-of-type(1) p {
  text-align: center;
  margin: auto;
  max-width: 50ch;
  grid-column: 1 / -1;
}

main.home > section:nth-of-type(1) article {
  text-align: center;
}

main.home > section:nth-of-type(1) article ul {
  position: absolute;
  list-style-type: none;
}

main.home > section:nth-of-type(1) article li {
  background: #7e7e7e;
  color: white;
  margin-top: 10px;
  padding: 5px 10px 2px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

main.home > section:nth-of-type(1) article li:first-of-type {
  padding: 3px 0;
  background: #532B5D;
}

main.home > section:nth-of-type(1) article li img {
  width: 1em;
  margin-right: 5px;
}

main.home > section:nth-of-type(1) article figure {
  padding: 40px 0;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

main.home > section:nth-of-type(1) article img {
  max-width: 100%;
}

main.home > section:nth-of-type(1) article h3 {
  margin-bottom: 1.8em;
  position: relative;
}

main.home > section:nth-of-type(1) article h3:last-of-type:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 0.05em;
  background: #dbdbdb;
  bottom: -1em;
  left: calc(50% - 40%);
}

main.home > section:nth-of-type(1) article > img {
  width: 1em;
  display: block;
  margin: auto;
}

main.home > section:nth-of-type(2) {
  padding: 0 0 5em;
  position: relative;
}

main.home > section:nth-of-type(2) div {
  background-image: url(../images/douchbags-black.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.home > section:nth-of-type(2) a {
  color: white;
  border-color: white;
  z-index: 2;
}

main.home > section:nth-of-type(2) article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 0 1.1em;
}

main.home > section:nth-of-type(2) h2 {
  margin: 1em 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 2em;
}

main.home > section:nth-of-type(2) p {
  margin: 0 0 1.5em;
  flex-basis: 100%;
  text-align: center;
}

main.home > section:nth-of-type(2) ul {
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 0.9em;
  line-height: 1.6em;
  text-align: center;
  list-style-type: none;
  flex-basis: 100%
}

main.home > section:nth-of-type(2) li {
  margin-bottom: .5em;
}

main.home > section:nth-of-type(2) li:before {
  content: "";
  display: inline-block;
  width: .9em;
  height: .9em;
  background-image: url(../images/check-2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: .5em;
}

main.home > section:nth-of-type(2) li:last-of-type:before {
  background-image: url(../images/plus.svg);
  margin-bottom: 0;
  width: .7em;
  height: .7em;
}

main.home > section:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.1em;
  padding: 0 0 5em;
}

main.home > section:nth-of-type(3) h2 {
  text-align: center;
  grid-column: 1 / -1;
  position: relative;
  margin-bottom: 1em;
}

main.home > section:nth-of-type(3) h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
  height: 2px;
  width: 40px;
  background: #dbdbdb;
} 

main.home > section:nth-of-type(3) article {
  padding: 8em 1.1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

main.home > section:nth-of-type(3) article:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  z-index: 1;
}

main.home > section:nth-of-type(3) article:nth-of-type(1) {
  background-image: url(../images/douchebags-photography.jpg);
}

main.home > section:nth-of-type(3) article:nth-of-type(2) {
  background-image: url(../images/douchebags-bike.jpg);
}

main.home > section:nth-of-type(3) article:nth-of-type(3) {
  background-image: url(../images/douchebags-ski.jpg);
}

main.home > section:nth-of-type(3) article h3 {
  flex-basis: 100%;
  text-align: center;
  color: white;
  margin-bottom: .5em;
  z-index: 2;
}

main.home > section:nth-of-type(3) article a {
  border-color: white;
  color: white;
  z-index: 2;
}

main.home > section:nth-of-type(4) {
  padding: 0 0 5em;
  display: grid;
  grid-row-gap: 1em;
}

main.home > section:nth-of-type(4) article {
  background-color: #F8F9FA;
  padding: 2em 1em;
  text-align: center;
  transition: .4s ease;
}

main.home > section:nth-of-type(4) article:hover {
  transform: scale(1.02);
}

main.home > section:nth-of-type(4) article:last-of-type {
  margin-bottom: 0;
}

main.home > section:nth-of-type(4) article h2 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: .7em;
}

main.home > section:nth-of-type(4) article h2:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(../images/paymentlove.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: .5em;
}

main.home > section:nth-of-type(4) article:nth-of-type(2) h2:before {
  background-image: url(../images/shipping.svg) !important;
}

main.home > section:nth-of-type(4) article:nth-of-type(3) h2:before {
  background-image: url(../images/warrenty.svg) !important;
}

main.home > section:nth-of-type(4) article p {
  font-size: 0.8em;
}

main.home > section:nth-of-type(5) {
  padding: 0 0 5em;
}

main.home > section:nth-of-type(5) h2 {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

main.home > section:nth-of-type(5) h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
  height: 2px;
  width: 40px;
  background: #dbdbdb;
} 

main.home > section:nth-of-type(5) p {
  text-align: center;
  margin-top: 2.2em;
  max-width: 67ch;
  margin: 2.2em auto 0;
}

main.home > section:nth-of-type(5) div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2em;
}

main.home > section:nth-of-type(5) div img {
  width: 100%;
  transition: .4s ease;
  cursor: pointer;
}

main.home > section:nth-of-type(5) div img:hover {
  opacity: 0.8;
}

/******************* Footer ****************/

footer {
  background: #F8F8F8;
}

footer > div {
  padding: 5em 1.1em 0;
  max-width: 1280px;
  margin: auto;
}

footer form div {
  margin-bottom: 1.5em;
}

footer form div:first-of-type {
  margin-bottom: 5em;
}

footer section:first-of-type h3, footer section:nth-of-type(2) h3 {
  display: none;
}

footer section:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 2em 0;
}

footer section:first-of-type a {
  text-align: center;
  text-transform: none;
  border-color: #dddddd;
}

footer section:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #dddddd;
  padding: 2em 0;
  margin-top: 1em;
}

footer section:nth-of-type(2) p {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 0.6em;
  font-size: 0.75em;
}

footer section:nth-of-type(2) a {
  border: none;
  padding: 0 1em;
  text-transform: none;
  text-decoration: underline;
}

footer section:nth-of-type(2) a:hover {
  background: none;
  color: black;
}

/******************* Media Querries ****************/

/* Smallest breakpoint */
@media screen and (min-width: 400px) {
  /* Instagram Posts */
  main.home > section:nth-of-type(5) div {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  main.home > section:nth-of-type(5) div img:nth-of-type(5) {
    display: none;
  }
}

/* Breakpoint 1 */
@media screen and (min-width: 640px) {
  header nav {
    height: 6em;
  }

  main.home > section:nth-of-type(1) {
    grid-template-columns: repeat(3,1fr);
  }

  main.home > div {
    grid-template-columns: repeat(3,1fr);
  }

  main.home > div section:first-of-type {
    grid-column: 1 / 3;
  }
  
  main.home > div section:nth-of-type(2) {
    grid-column: 3 / 4;
  }
  
  main.home > div section:nth-of-type(3) {
    grid-column: 1 / 2;
  }

  main.home > div section:nth-of-type(4) {
    grid-column: 2 / 4;
  }

  main.home > section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  main.home > section:nth-of-type(2) div {
    padding: 12em 0;
  }

  main.home > section:nth-of-type(4) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }

  footer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  footer form {
    flex-basis: 40%;
  }

  footer section:nth-of-type(1) {
    flex-basis: 50%;
  }

  footer section:nth-of-type(2) {
    flex-basis: 100%;
  }
}

/* Breakpoint 2 */
@media screen and (min-width: 820px) {
  header nav ul:first-of-type {
    display: none;
  }
  
  header nav ul:last-of-type {
    display: flex;
  }

  header nav > img:last-of-type {
    display: block;
  }

  header > div#mobile-overlay {
    display: none;
  }
  
  main.home > section:nth-of-type(1) {
    grid-template-columns: repeat(4,1fr);
  }

  main.home > section:nth-of-type(3) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }

  /* Instagram Posts */
  main.home > section:nth-of-type(5) div {
    grid-template-columns: repeat(5, 1fr) !important;
  }
  main.home > section:nth-of-type(5) div img:nth-of-type(5) {
    display: block;
  }
}