/******************* CSS Document ****************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

a {
  cursor: pointer;
}

/******************* Typography ****************/

h1 {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
}

h2 {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 1.4em;
}

h3 {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 1.25em;
}

h4 {
  color: #4a494a;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.72em;
}

p {
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 0.9em;
  line-height: 25px;
}

/******************* Buttons / Links ****************/

a {
  margin: 0;
  padding: .8em 2em .7em;
  border: 1px solid #4a494a;
  text-transform: uppercase;
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 12px;
  line-height: 1.5em;
  text-decoration: none;
  transition: .4s ease;
}

a:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
}

/******************* Forms ****************/

form label {
  color: #4a494a;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 600;
}

form input {
  outline: none;
  border: none;
  background: none !important;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  padding: 20px 0 10px;
  font-family: 'Kumbh Sans', sans-serif;
  color: #4a494a;
  font-size: 16px;
}

form input::placeholder {
  color: #cfcfcf;
}

/******************* Header ****************/

header section:first-of-type {
  height: calc(100vh - 6em);
  background: url(../images/marcelo-douchebags-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header section:first-of-type:after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100vh - 6em);
  background: rgba(0, 0, 0, 0.200);
  top: 0;
  left: 0;
}

header section:first-of-type h1,h4 {
  color: white;
  z-index: 2;
  margin-bottom: 15px;
}

header section:first-of-type a {
  color: white;
  border-color: white;
  z-index: 2;
}

header nav {
  position:-webkit-sticky; position:sticky; top:0;
  max-width: 1280px;
  margin: auto;
  height: 6em;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav > img:first-of-type {
  width: 10em;
  height: auto;
}

header nav ul:first-of-type {
  display: flex;
  list-style-type: none;
}

header nav ul a {
  border: none;
  background: none;
  padding: 0;
}

header nav ul a:hover {
  border: none;
  background: none;
  color: black;
}

header nav ul:first-of-type li:first-of-type {
  margin-right: 20px;
}

header nav ul button {
  background: none;
  cursor: pointer;
}

header nav ul button img {
  width: 1.8em;
  margin-top: 10px;
}

/* Desktop Nav */
header nav ul:last-of-type {
  display: none;
  list-style-type: none;
}

header nav ul:last-of-type li{
  margin-left: 2em;
}

header nav ul:last-of-type li:first-of-type{
  margin-left: 0;
}

header nav ul:last-of-type a {
  text-transform: none;
  font-weight: 500;
  font-size: .8em;
}

header nav > img:last-of-type {
  max-width: 1.5em;
  margin-left: 6em;
  display: none;
}

/* Mobile Nav Open */
header > section#mobile-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 1.5em;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  transform: translateX(150%);
  transition: .5s ease;
}

.active {
  transform: translateX(0) !important; 
}

#mobile-overlay div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

#mobile-overlay div:first-of-type > img {
  max-width: 10em;
}

#mobile-overlay div:first-of-type button {
  background: none;
  border: none;
  cursor: pointer;
  transition: .5s;
}

#mobile-overlay div:first-of-type button:hover {
  transform: rotate(90deg);
}

#mobile-overlay div:first-of-type button img {
  width: 2em;
}

#mobile-overlay ul:first-of-type {
  text-align: right;
}

#mobile-overlay ul:first-of-type li {
  list-style-type: none;
  margin-bottom: 2em;
}

#mobile-overlay ul:first-of-type li a {
  text-transform: none;
  font-size: 1.6em;
  padding: 0;
  border: none;
  background: none;
  transition: .4s;
  border-bottom: 2px solid transparent;
}

#mobile-overlay ul:first-of-type li a:hover {
  color: black;
  /* text-decoration: underline; */
  border-bottom: 2px solid black;
}

#mobile-overlay div:last-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

#mobile-overlay div:last-of-type a {
  padding: 1.2em 2em;
  text-align: center;
  text-transform: none;
  border-color: #dddddd;
  font-size: 0.8em;
}

*/****************** Main ****************/

main {
  padding: 0 20px;
  max-width: 1280px;
  margin: auto;
}

main > div {
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

main > div section:first-of-type {
  background: url(../images/marcelo-douchebags-02.jpg);
  background-position: center 20% !important;
}

main > div section:nth-of-type(2) {
  background: url(../images/douchebags-hugger.jpg);
}

main > div section:nth-of-type(3) {
  background: url(../images/douchebags-snow.jpg);
}

main > div section:nth-of-type(4) {
  background: url(../images/douchebags-field.jpg);
}

main > div section:nth-child(-n+4) {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center;
  text-align: center;
  position: relative;
  padding: 80px 20px;
}

main > div section:nth-child(-n+4):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  z-index: 1;
}

main > div section:nth-child(-n+4) h2 {
  color: white;
  z-index: 2;
  margin-bottom: 30px;
  position: relative;
}

main > div section:nth-child(-n+4) p {
  color: white;
  z-index: 2;
  margin-bottom: 15px;
  position: relative;
  text-transform: uppercase;
  font-size: 0.7em;
}

main > div section:nth-child(-n+4) a  {
  color: white;
  border-color: white;
  z-index: 2;
  position: relative;
}

/* Product Articles */

main > section:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  padding: 80px 0;
}

main > section:nth-of-type(1) h2 {
  text-align: center;
  position: relative;
  grid-column: 1 / -1;
}

main > section:nth-of-type(1) h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
  height: 2px;
  width: 40px;
  background: #dbdbdb;
} 

main > section:nth-of-type(1) p {
  text-align: center;
  margin: auto;
  max-width: 50ch;
  grid-column: 1 / -1;
}

main > section:nth-of-type(1) article {
  text-align: center;
}

main > section:nth-of-type(1) article ul {
  position: absolute;
  list-style-type: none;
}

main > section:nth-of-type(1) article li {
  background: #7e7e7e;
  color: white;
  margin-top: 10px;
  padding: 5px 10px 2px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

main > section:nth-of-type(1) article li:first-of-type {
  padding: 3px 0;
  background: #532B5D;
}

main > section:nth-of-type(1) article li img {
  width: 1em;
  margin-right: 5px;
}

main > section:nth-of-type(1) article figure {
  padding: 40px 0;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

main > section:nth-of-type(1) article img {
  max-width: 100%;
}

main > section:nth-of-type(1) article h3 {
  margin-bottom: 1.8em;
  position: relative;
}

main > section:nth-of-type(1) article h3:last-of-type:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 0.05em;
  background: #dbdbdb;
  bottom: -15px;
  left: calc(50% - 40%);
}

main > section:nth-of-type(1) article > img {
  width: 1em;
  display: block;
  margin: auto;
}

main > section:nth-of-type(2) {
  padding: 0 20px 50px;
  position: relative;
}

main > section:nth-of-type(2) figure {
  position: relative;
}

main > section:nth-of-type(2) figure:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  z-index: 1;
}

main > section:nth-of-type(2) img {
  width: 100%;
  height: auto;
}

main > section:nth-of-type(2) a {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  border-color: white;
  z-index: 2;
}

/******************* Footer ****************/

/******************* Media Querries ****************/


/* Breakpoint 1 */
@media screen and (min-width: 640px) {
  main > section:nth-of-type(1) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main > div {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main > div section:first-of-type {
    grid-column: 1 / 3;
  }
  
  main > div section:nth-of-type(2) {
    grid-column: 3 / 4;
  }
  
  main > div section:nth-of-type(3) {
    grid-column: 1 / 2;
  }

  main > div section:nth-of-type(4) {
    grid-column: 2 / 4;
  }
}

/* Breakpoint 2 */
@media screen and (min-width: 820px) {
  header nav ul:first-of-type {
    display: none;
  }
  
  header nav ul:last-of-type {
    display: flex;
  }

  header nav > img:last-of-type {
    display: block;
  }

  header > div#mobile-overlay {
    display: none;
  }
  
  main > section:nth-of-type(1) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}